body{
    background-color: black;
    color: #ececec; /*colore scritte*/
    font-size: 32px; /* in verità è la misura delle icone del menu*/
    font-family: 'Syne Mono', monospace;
    margin: 10px;
    padding: 0;
    text-align:center;
    
}

h2{
    font-size: 17px;
}

.titolo{
    text-shadow: 3px 3px 30px rgb(250, 6, 6);
    font-size: 25px;
}

.active {
    color:rgb(129, 8, 8);
    text-shadow: 0px 0px 10px red;
    font-size: 20px;
      }

.grid-container{
    margin-left: 10rem;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-columns: repeat( auto-fit, minmax(1fr, 1fr) );
    gap: 20px 0px;
    justify-items: center;
    align-items: start;
    align-content: start;
}

  /*elimina decorazioni link*/
  a:link, a:visited {
    text-decoration: none;
    color: #ececec;
  }
  /*---*/
/*scollbar del browser*/
body::-webkit-scrollbar {
    width: 0.50rem;
  }
  
  body::-webkit-scrollbar-track {
    background: #1e1e24;
  }
  
  body::-webkit-scrollbar-thumb {
    background: #ececec;
  }
  /*-----*/
  /*NavBar*/
  .navbar {
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 600ms ease;
    overflow: scroll;
  }
  
  .navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  
  .nav-item {
    width: 100%;
     }
  
  
  .nav-link {
    display: flex;
    align-items: center;
    height: 4rem;
    text-decoration: none;
    transition: var(--transition-speed);
    filter: grayscale(100%) opacity(0.7); /*per scurire le icone*/
    text-shadow: rgb(8, 7, 7) 3px 0px 0px, rgb(8, 7, 7) 2.83487px 0.981584px 0px, rgb(8, 7, 7) 2.35766px 1.85511px 0px, rgb(8, 7, 7) 1.62091px 2.52441px 0px, rgb(8, 7, 7) 0.705713px 2.91581px 0px, rgb(8, 7, 7) -0.287171px 2.98622px 0px, rgb(8, 7, 7) -1.24844px 2.72789px 0px, rgb(8, 7, 7) -2.07227px 2.16926px 0px, rgb(8, 7, 7) -2.66798px 1.37182px 0px, rgb(8, 7, 7) -2.96998px 0.42336px 0px, rgb(8, 7, 7) -2.94502px -0.571704px 0px, rgb(8, 7, 7) -2.59586px -1.50383px 0px, rgb(8, 7, 7) -1.96093px -2.27041px 0px, rgb(8, 7, 7) -1.11013px -2.78704px 0px, rgb(8, 7, 7) -0.137119px -2.99686px 0px, rgb(8, 7, 7) 0.850987px -2.87677px 0px, rgb(8, 7, 7) 1.74541px -2.43999px 0px, rgb(8, 7, 7) 2.44769px -1.73459px 0px, rgb(8, 7, 7) 2.88051px -0.838247px 0px;
  }
  
  .nav-link:hover {
    filter: grayscale(0%) opacity(1);
    transform: translateX(0);
    color: red;
  }
  
  .link-text {
    display: none;
    margin-left: 1rem;
    text-shadow: rgb(8, 7, 7) 3px 0px 0px, rgb(8, 7, 7) 2.83487px 0.981584px 0px, rgb(8, 7, 7) 2.35766px 1.85511px 0px, rgb(8, 7, 7) 1.62091px 2.52441px 0px, rgb(8, 7, 7) 0.705713px 2.91581px 0px, rgb(8, 7, 7) -0.287171px 2.98622px 0px, rgb(8, 7, 7) -1.24844px 2.72789px 0px, rgb(8, 7, 7) -2.07227px 2.16926px 0px, rgb(8, 7, 7) -2.66798px 1.37182px 0px, rgb(8, 7, 7) -2.96998px 0.42336px 0px, rgb(8, 7, 7) -2.94502px -0.571704px 0px, rgb(8, 7, 7) -2.59586px -1.50383px 0px, rgb(8, 7, 7) -1.96093px -2.27041px 0px, rgb(8, 7, 7) -1.11013px -2.78704px 0px, rgb(8, 7, 7) -0.137119px -2.99686px 0px, rgb(8, 7, 7) 0.850987px -2.87677px 0px, rgb(8, 7, 7) 1.74541px -2.43999px 0px, rgb(8, 7, 7) 2.44769px -1.73459px 0px, rgb(8, 7, 7) 2.88051px -0.838247px 0px;    
  }
  
  .nav-link i {
    width: 0.5rem; /*quanto si allarga la barra*/
    min-width: 2rem;
    margin: 0 1.5rem;
    
  }
  /*----*/
/*NavBar per schermi di diverse dimensioni*/
 /* Small screens */
 @media only screen and (max-width: 600px) {
    .navbar {
      bottom: 0;
      width: 100vw;
      height: 5rem;
    }
  
    .logo {
      display: none;
    }
  
    .navbar-nav {
      flex-direction: row;
    }
  
    .nav-link {
      justify-content: center;
    }
  
    main {
      margin: 0;
    }
  }
  
  /* Large screens */
  @media only screen and (min-width: 600px) {
    .navbar {
      top: 0;
      width: 5rem;
      height: 100vh;
    }
  
    .navbar:hover {
      width: 16rem;
    }
  
    .navbar:hover .link-text {
      display: inline;
    }
  
    .navbar:hover .logo svg
    {
      margin-left: 11rem;
    }
  
    .navbar:hover .logo-text
    {
      left: 0px;
    }
  }
  
main{
  display: flex;
  flex-direction: column;
}
.navbar {
    overflow: hidden
  }
  /*----*/